---
import BentoItem from './BentoItem.astro'
---

<section
	class="mx-auto grid w-full max-w-[1400px] auto-rows-[25rem] grid-cols-10 gap-4 p-20"
>
	<BentoItem
		class="col-span-10 md:col-span-4"
		title="NOVEDADES"
	/>
	<BentoItem
		class="col-span-10 md:col-span-6"
		title="PRODUCTOS"
	/>
	<BentoItem
		class="col-span-10 md:col-span-6"
		title="CHURROS Y CHOCOLATE"
	/>
	<BentoItem
		class="col-span-10 md:col-span-4"
		title="Extra"
	/>
</section>
