---

---

<header class="container mx-auto mt-3">
	<nav
		class="flex justify-center gap-10 border border-red-700 p-2 md:justify-evenly"
	>
		<li class="hover:scale-110">
			<a href="/">Home</a>
		</li>
		<li>
			<a href="#productos"> </a>Productos
		</li>
		<li>
			<a href="#About">About</a>
		</li>
		<li>
			<a href="#Galeria">Galeria</a>
		</li>
	</nav>

	<img
		class="mx-auto w-[300px] md:w-[400px] lg:w-[500px] xl:w-[700px] 2xl:w-[800px]"
		src="/images/logo.webp"
		alt="Asadero Palacio logo principal"
	/>
	<h1
		class="text-wrap p-2 text-center text-3xl font-bold text-red-700"
	>
		Asadero Palacio
	</h1>
	<h5 class="text-center font-light italic">
		Más de 20 años de experiencia en la elaboración de
		pollos asados
	</h5>
</header>
