.producto__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 6px;
  border: 1px solid var(--clr-primary);
  background-image: linear-gradient(
    180deg,
    rgba(79, 9, 9, 0.3),
    rgba(201, 185, 185, 0.269),
    rgba(212, 199, 199, 0.269),
    rgba(255, 255, 255, 0.269)
  );

  padding: 1.5em;
  margin: 1.5rem 0rem;
}
.producto__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.producto__name {
  font-size: var(--size-2xl);
}

.producto__desc {
  max-width: 40ch;
  font-size: var(--size-lg);
  color: rgb(61, 16, 16);
}

.producto__alergenos {
  display: flex;
  gap: 0.5rem;
}
.alergenos__icon {
  width: 40px;
}
.productos__img {
  align-self: center;
  aspect-ratio: 16/9;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.productos__grid {
  display: grid;
  gap: var(--size-sm);
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  padding-left: 0.5rem;

  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.productos__grid::-webkit-scrollbar {
  display: none;
}
.productos__wrapper {
  position: relative;
}
.productos__wrapper svg {
  width: 24px;
  cursor: pointer;
  color: rgb(25, 24, 24);
  border-radius: 6px;
}
.productos__wrapper svg:hover {
  background: var(--clr-terciary);
}
.right-arrow,
.left-arrow {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.right-arrow {
  right: 0;
  background: linear-gradient(to left, var(--clr-secundary) 20%, transparent);
  justify-content: flex-end;
}
.left-arrow {
  background: linear-gradient(to right, var(--clr-secundary) 20%, transparent);
}

.producto {
  text-align: center;
  font-family: var(--font-secondary);
  list-style: none;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}
.producto:not(.btn-active) {
  border: 1px solid var(--clr-primary);
}

.producto:hover {
  background-color: var(--clr-primary);
  color: var(--clr-terciary);
}
.btn-active {
  background-color: var(--clr-primary);
  color: var(--clr-terciary);
}

/* MOBILE FIRST  */

/* xs */
/* @media (min-width: 475px){} */

/* sm */
@media (min-width: 640px) {
  .producto__card {
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(200px, 1fr);
    align-items: center;
    gap: 2rem;
  }
  .productos__img {
    height: 150px;
  }
  .producto__desc {
    max-width: 30ch;
  }
  .producto {
    font-size: var(--size-lg);
  }
}

/* md */
@media (min-width: 768px) {
  .productos__img {
    height: 180px;
  }
  .producto {
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  /* .main__el-title {} */
  .productos__img {
    height: 250px;
  }
  .productos__grid {
    display: grid;
    gap: 1rem;
    grid-auto-flow: unset;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow-x: hidden;
    align-items: center;
  }
  .producto__name {
    font-size: var(--size-2xl);
  }
  .producto__desc {
    font-size: var(--size-xl);
  }

  .producto {
    font-size: var(--size-2xl);
    white-space: normal;
  }
  .producto:not(.btn-active) {
    border: none;
  }
  .right-arrow,
  .left-arrow {
    display: none;
  }
}

/* xl */
@media (min-width: 1280px) {
  .producto__card {
    margin-inline: 1rem;
  }
  .productos__img {
    margin-bottom: 1rem;
  }
  .productos__img {
    height: 350px;
  }

  .productos__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .producto__name {
    font-size: var(--size-3xl);
  }
  .producto__alergenos {
    font-size: var(--size-lg);
  }
}

/* 2xl */
@media (min-width: 1536px) {

  .producto__name {
    font-size: var(--size-4xl);
  }
}
